In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ccs_cpt_v2019/ccs_cpt_v2019.csv', dtype=str)
df.fillna('NULL', inplace=True)

In [3]:
df

      CPT CODE  CCS                            CCS LABEL
0        61000    1         Incision and excision of CNS
1        61001    1         Incision and excision of CNS
2        61002    1         Incision and excision of CNS
3        61003    1         Incision and excision of CNS
4        61004    1         Incision and excision of CNS
...        ...  ...                                  ...
54978    43847  244  Gastric bypass and volume reduction
54979    43848  244  Gastric bypass and volume reduction
54980    43886  244  Gastric bypass and volume reduction
54981    43887  244  Gastric bypass and volume reduction
54982    43888  244  Gastric bypass and volume reduction

[54983 rows x 3 columns]

In [4]:
schema_name = 'DFLT'
table_name = 'CCS_CPT_v2019'

In [5]:
#table_variables_d = {'ICD10CM_Code': 'VARCHAR(8000)', 'ICD10CM_Code_Description': 'VARCHAR(8000)', 'Default_CCSR_Category': 'VARCHAR(8000)'}

table_variables_d = {}
for col in df.columns:
    table_variables_d.update({col: 'VARCHAR(8000)'})

In [6]:
table_variables_creation = ''
first_flag = True
for k,v in table_variables_d.items():
    if not first_flag:
        table_variables_creation += ','
    else:
        first_flag = False
        
    table_variables_creation += '[{}] {}\n'.format(k, v)

In [7]:
table_variables_insert = ''
first_flag = True
for k,v in table_variables_d.items():
    if not first_flag:
        table_variables_insert += ', '
    else:
        first_flag = False
        
    table_variables_insert += '[{}]'.format(k)

In [8]:
table_values_insert = ''
first_flag = True
for k,v in table_variables_d.items():
    if not first_flag:
        table_values_insert += ', '
    else:
        first_flag = False
        
    table_values_insert += '"{}"'.format(v)

In [9]:
all_table_inserts = ''

number_of_rows = len(df.index)
for idx in range(number_of_rows):    
    table_values_insert = ''
    first_flag = True
    for val in list(df.iloc[idx]):
        if not first_flag:
            table_values_insert += ', '
        else:
            first_flag = False

        table_values_insert += '"{}"'.format(val)
    
    all_table_inserts += '''INSERT [''' + schema_name + '''].[''' + table_name + '''] (''' + table_variables_insert + ''') VALUES (''' + table_values_insert + ''')\n'''

In [10]:
s = \
'''
USE [TOREPLACE_INSERT_DB_HERE]


CREATE TABLE [''' + schema_name + '''].[''' + table_name + ''']
(
''' +\
table_variables_creation +\
''')


SET QUOTED_IDENTIFIER OFF

'''+ all_table_inserts + '''
SET QUOTED_IDENTIFIER ON
'''

In [11]:
with open('yeet.sql', 'w+') as f:
    f.write(s)