In [2]:
%load_ext autoreload
%autoreload 2

In [1]:
import pyodbc
import pandas as pd

In [15]:
conn = pyodbc.connect("DRIVER={SQL Server};SERVER=VHACDWRB03;DATABASE=ORD_Singh_201911038D")

In [23]:
info_str = "select * from information_schema.tables where table_name like '%b00%'"
info_df = pd.read_sql(sql=info_str, con=conn)

In [24]:
display(info_df)

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
0,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_01_04_cohort,BASE TABLE
1,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_04_04_Lab,BASE TABLE
2,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_05_04_Rad,BASE TABLE
3,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_06_Med_04_RxOutpat,BASE TABLE
4,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_06_Med_05_BCMA_Dispense...,BASE TABLE
5,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_06_Med_07_NonVAMed,BASE TABLE
6,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_06_Med_08_AllMed,BASE TABLE
7,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_08_Consult,BASE TABLE
8,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_12_ICD,BASE TABLE
9,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_14_Vital,BASE TABLE
10,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_16_HF,BASE TABLE
11,ORD_Singh_201911038D,Dflt,_B00_ML4TrgPos_Y201621_30_Note,BASE TABLE

# Samples

In [ ]:
sample_query = "select top 10 * from Dflt._B00_ML4TrgPos_Y201621_06_Med_08_AllMed"
sample_df = pd.read_sql(sql=sample_query, con=conn)
display(sample_df)
sample2_query = "select top 10 * from Dflt._B00_ML4TrgPos_Y201621_06_Med_07_AllMed t where t.src != 'RxOutpat'"
sample2_df = pd.read_sql(sql=sample2_query, con=conn)
display(sample2_df)

In [ ]:
sample3_query = "select top 100 * from Dflt._B00_ML4TrgPos_Y201621_01_04_cohort t"
sample3_df = pd.read_sql(sql=sample3_query, con=conn)
display(sample3_df)

In [ ]:
sample3_query = "select top 100 * from Dflt._B00_ML4TrgPos_Y201621_04_04_Lab t"
sample3_df = pd.read_sql(sql=sample3_query, con=conn)
display(sample3_df)

In [ ]:
sample3_query = "select top 10 * from Dflt._B00_ML4TrgPos_Y201621_08_Consult t"
sample3_df = pd.read_sql(sql=sample3_query, con=conn)
display(sample3_df)

In [ ]:
sample3_query = "select top 10 * from Dflt._B00_ML4TrgPos_Y201621_12_ICD"
sample3_df = pd.read_sql(sql=sample3_query, con=conn)
display(sample3_df)

In [ ]:
sample3_query = "select top 10 * from Dflt._B00_ML4TrgPos_Y201621_14_Vital"
sample3_df = pd.read_sql(sql=sample3_query, con=conn)
display(sample3_df)

In [ ]:
sample3_query = "select top 10 * from Dflt._B00_ML4TrgPos_Y201621_16_HF"
sample3_df = pd.read_sql(sql=sample3_query, con=conn)
display(sample3_df)

In [ ]:
sample4_query = "select top 10 * from Dflt._B00_ML4TrgPos_Y201621_30_Note t"
sample4_df = pd.read_sql(sql=sample4_query, con=conn)
display(sample4_df)

In [19]:
count1_query = "select count(*), count(DISTINCT t.PatientSID), count(DISTINCT t.LabChemSpecimenDateTime) from Dflt._B00_ML4TrgPos_Y201621_04_04_Lab t"
count1_df = pd.read_sql(sql=count1_query, con=conn)
display(count1_df)

0  2447196  1469  309004

In [20]:
count1_query = "select count(*), count(DISTINCT t.PatientSID), count(DISTINCT t.LabChemSpecimenDateTime) from Dflt._B00_ML4TrgPos_Y201621_04_04_Lab t where t.Abnormal != 'None'"
count1_df = pd.read_sql(sql=count1_query, con=conn)
display(count1_df)

0  586435  1443  198657

In [28]:
count2_query = "select count(*), count(DISTINCT t.PatientSID), count(DISTINCT t.DispensedDate), count(DISTINCT t.DrugClassCode) from Dflt._B00_ML4TrgPos_Y201621_06_Med_08_AllMed t"
count2_df = pd.read_sql(sql=count2_query, con=conn)
display(count2_df)

0  1509469  1491  1056736  339